<footer class="bd-footer py-4 py-md-5 mt-auto bg-dark"> 
    <div class="container">
        <span class="text-secondary">Copyright &copy; 2023 CHECK YOURSELF. All rights reserved.</span>
    </div>
</footer>