<div class="row">
    <div class="col-4 offset-2">
            <div class="card card-body mb-3 rounded-4 shadow-sm rounded" style="background-color: #ffeaaa;">
                <form action="/frames" class="needs-validation p-2" method="POST" novalidate>
                    <h3 class="mb-3">Make New Frames</h3>
                    <div class="mb-4">
                        <label for="title"  class="form-label" style="font-weight: 500;">Title <strong style="color: red;">*</strong></label>
                        <input type="text" class="form-control border border-0 shadow rounded" placeholder="enter title" id="title" name="frame[title]" style="background-color: hwb(44 94% 0%);" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a title/name for the frame!
                        </div>
                    </div>
        
                    <div class="mb-4">
                        <label for="description"  class="form-label" style="font-weight: 500;">Description</label>
                        <textarea type="text" class="form-control border border-0 shadow rounded " placeholder="enter description (optional)" id="description" name="frame[description]" style="background-color: hwb(44 94% 0%);"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    
                    <div class="mb-4">
                        <label for="words"  class="form-label" style="font-weight: 500;">Words/Phrases (separate with commas) <strong style="color: red;">*</strong></label>
                        <textarea type="text" class="form-control border border-0 shadow rounded" placeholder="enter words (i.e. word-1, word-2, phrase one, phrase two)" id="words" name="frame[words]" style="background-color: hwb(44 94% 0%);" required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter word(s) associated with frame so we can scan for them!
                        </div>
                    </div>    
                    <div class="mb-4">
                        <label for="color"  class="form-label" style="font-weight: 500;">Color <strong style="color: red;">*</strong></label>
                        </br>
                        <input class="shadow rounded border border-0 p-1" type="color"  value="#b3e2ff" id="color" name="frame[color]" style="background-color: hwb(44 94% 0%);" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please pick a color for this frame!
                        </div>
                    </div>        
                    <div class="mb-3">
                        <button class="btn  rounded-pill shadow rounded " style="background-color: #f2b500;">Add Frame</button>                       
                    </div>
                </form>
             </div>
    </div>
    <div class="col-4">
        <div class="card card-body mb-3 rounded-4 shadow-sm rounded" style="background-color: #eac4ff;">
            <form action="/frames" id="reloadFramesForm" class="needs-validation" method="POST" novalidate> 
                <h3 class="mb-3">Reload Frames</h3>
                <div class="mb-3">
                    <label for="reloadedFrames"  class="form-label" style="font-weight: 500;">Content Of Previously Exported Frames File <strong style="color: red;">*</strong></label>
                    <textarea type="text" class="form-control shadow mb-5 rounded border border-0" placeholder="enter previous frames" id="reloadedFrames" name="reloadedFrames" style="background-color: #faedff;" required></textarea>
                </div>
                <!-- <label for="reloadedFrames" class="mb-3">Select file (must be <strong style="font-weight: 600;">.json</strong>):</label>
        
                <input type="file" id="framesFile" name="reloadedFrames" accept=".json"/> -->
                
                <!-- <br /><br /> -->
            
                <!-- <input class="btn btn-outline-success" type="submit" /> -->
                <div class="mb-3">
                    <button class="btn rounded-pill shadow rounded" style="background-color: #be46ff; color: white;">Add Frames</button>                       
                </div>
            </form>
        </div>
    </div>
 </div>



 