<div class="row">
    <div class="col-4 offset-2">
            <div class="card card-body mb-3" style="background-color: #ffeaaa;">
                <form action="/frames" class="needs-validation" method="POST" novalidate>
                    <h3 class="mb-3">Make New Frames</h3>
                    <div class="mb-3">
                        <label for="title"  class="form-label" style="font-weight: 500;">Title <strong style="color: red;">*</strong></label>
                        <input type="text" class="form-control" placeholder="enter title" id="title" name="frame[title]" style="background-color: #fff9e7;" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter a title/name for the frame!
                        </div>
                    </div>
        
                    <div class="mb-3">
                        <label for="description"  class="form-label" style="font-weight: 500;">Description</label>
                        <textarea type="text" class="form-control" placeholder="enter description (optional)" id="description" name="frame[description]" style="background-color: #fff9e7;"></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="words"  class="form-label" style="font-weight: 500;">Words <strong style="color: red;">*</strong></label>
                        <input type="text" class="form-control" placeholder="enter words" id="words" name="frame[words]" style="background-color: #fff9e7;" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter word(s) associated with frame so we can scan for them!
                        </div>
                    </div>            
                    <div class="mb-3">
                        <button class="btn btn-primary">Add Frame</button>                       
                    </div>
                </form>
             </div>
    </div>
    <div class="col-4">
        <div class="card card-body mb-3" style="background-color: #eac4ff;">
            <form action="/frames" id="reloadFramesForm" method="POST" >
                <h3 class="mb-3">Reload Frames</h3>
                <div class="mb-3">
                    <label for="reloadedFrames"  class="form-label" style="font-weight: 500;">Content Of Previously Exported Frames File <strong style="color: red;">*</strong></label>
                    <textarea type="text" class="form-control" placeholder="enter previous frames" id="reloadedFrames" name="reloadedFrames" style="background-color: #faedff;"></textarea>
                </div>
                <!-- <label for="reloadedFrames" class="mb-3">Select file (must be <strong style="font-weight: 600;">.json</strong>):</label>
        
                <input type="file" id="framesFile" name="reloadedFrames" accept=".json"/> -->
                
                <!-- <br /><br /> -->
            
                <!-- <input class="btn btn-outline-success" type="submit" /> -->
                <div class="mb-3">
                    <button class="btn btn-primary">Submit</button>                       
                </div>
            </form>
        </div>
    </div>
 </div>



 