<button class="btn bg-info-subtle rounded-5 shadow-sm border mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" title="Click to learn how to use!">
   <strong style="font-weight: 500;">How To Use</strong> 
  </button>
<div class="collapse" id="collapseExample">
  <div class="card card-body rounded-5 shadow-sm mb-3 bg-info-subtle">
    <ol>
        <li><strong>Write or paste</strong>  your text in the text box below</li>
        <li><strong>Click</strong> “Scan Article”</li>
        <li>ASTRSC will <strong>highlight</strong> words and expressions in your text that generally reinforce several tropes about Africa</li>
        <li><strong>Hover</strong> over the highlighted words to view a brief description of the tropes each word may be reinforcing</li>
        <li><strong>Click</strong> on the provided links to learn about their origins, pervasiveness, and effects and see constructive ideas and suggestions</li>
        <li>Scroll down to <strong>view</strong> a pie chart visualizing the number of words highlighted</li>
    </ol>
  </div>
</div>