<div class="collapse" id="collapseExample">
  <div class="card card-body rounded-5 shadow-sm mb-3" style="background-color: #c1d5de; color:#264856;">
    <ol>
        <li><strong>Write or paste</strong>  a text and (optionally) the text's title in the corresponding text boxes below</li>
        <li><strong>Click</strong> "Scan"</li>
        <li>ASTRSC will <strong>highlight</strong> words and expressions in your text that generally reinforce several tropes about Africa</li>
        <li><strong>Hover</strong> over the highlighted words to view a brief description of the tropes each word may be reinforcing</li>
        <li><strong>Click</strong> on the provided links to learn about their origins, pervasiveness, and effects and see constructive ideas and suggestions</li>
        <li>Scroll down to <strong>view</strong> a pie chart visualizing the number of words highlighted</li>
    </ol>
  </div>
</div>
