<button class="btn btn-primary mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <strong>How to use: </strong>
</button>
<div class="collapse mb-3" id="collapseExample">
  <div class="card card-body">
    <ol>
      <li><strong>Write or paste</strong>  your text in the text box below</li>
      <li><strong>Click</strong> “Scan Article”</li>
      <li>ASTRSC will <strong>highlight</strong> words and expressions in your text that generally reinforce several tropes about Africa</li>
      <li><strong>Hover</strong> over the highlighted words to view a brief description of the tropes each word may be reinforcing</li>
      <li><strong>Click</strong> on the provided links to learn about their origins, pervasiveness, and effects and see constructive ideas and suggestions</li>
      <li>Scroll down to <strong>view</strong> a pie chart visualizing the number of words highlighted</li>
      <li><strong>Optional:</strong> click the "Show Breakdown of Voices" button to view a  breakdown of quotes in your text</li>
    </ol>
  </div>
</div>
