<div class="accordion mb-3" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
          <strong>How to use</strong> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
        <div class="accordion-body">
            <ol>
                <li><strong>Write or paste</strong>  your text in the text box below</li>
                <li><strong>Click</strong> “Scan Article”</li>
                <li>ASTRSC will <strong>highlight</strong> words and expressions in your text that generally reinforce several tropes about Africa</li>
                <li><strong>Hover</strong> over the highlighted words to view a brief description of the tropes each word may be reinforcing</li>
                <li><strong>Click</strong> on the provided links to learn about their origins, pervasiveness, and effects and see constructive ideas and suggestions</li>
                <li>Scroll down to <strong>view</strong> a pie chart visualizing the number of words highlighted</li>
                <li><strong>Optional:</strong> click the "Show Breakdown of Voices" button to view a  breakdown of quotes in your text</li>
            </ol>
        </div>
      </div>
    </div>
</div>