<div class="accordion mb-4" id="accordionPanelsStayOpenExample">
    <div class="accordion-item border border-0 how-to-use-add" > <!--style="background-color: #F4F3F3;"-->
      <h2 class="accordion-header mb-2">
        <button class="accordion-button rounded-5 shadow-sm border border-1 border-black text-black fs-4 " type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="background-color: #F9FFEB;">
          <strong style="font-weight: 400;  font-family: 'Antonio', sans-serif;">How To Use</strong> 
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show ">
        <div class="accordion-body rounded-5 shadow-sm border border-1 border-black text-black " style="background-color: #F9FFEB;">
            <h5 style="font-family: 'Antonio', sans-serif;">TO START FROM SCRATCH</h5>
            <ol class="mb-4">
                <li><strong>Enter</strong>  your frames' <a href="/what-is-a-frame" style="color: #772de0; font-weight: 600;" class="link">(What is a frame?)</a> info in the fields below</li>
                <li><strong>Click “Add Frame”</strong> or <strong>press "Enter"</strong> when finished</li>
                <li>Make any necessary <strong>edits or deletions</strong> by clicking the corresponding buttons on each frame</li>
                <li>When your frames are finalized, <strong>scroll</strong> to the end of the page and <strong>click</strong> "Start Scanning"</li>
            </ol>
            <hr>
            <h5 style="font-family: 'Antonio', sans-serif;">TO RELOAD OLD FRAMES</h5>
            <ol>
              <li><strong>Copy and paste</strong>  the contents of the JSON file you previously exported from this website</li>
            </ol>
        </div>
      </div>
    </div>
</div>