<div class="collapse" id="collapseExample">
  <div class="card card-body rounded-5 shadow-sm mb-3 border border-1 border-black text-black" style="background-color: #BF97F8;">
    <h5 style="font-family: 'Archivo Black', sans-serif;">TO START</h5>
    <ol>
        <li><strong>Write or paste</strong>  a text and (optionally) the text's title below</li>
        <li><strong>Click</strong> "Scan"</li>
        <li>CHECK YOURSELF will <strong>highlight</strong> words and phrases that match your frames</li>
        <li><strong>Hover</strong> over the highlighted items to view which frame it belongs to and view its description</li>
        <li>Scroll down to <strong>view</strong> a pie chart visualizing the number of words/phrases highlighted</li>
        <li><strong>Click</strong> on "Scan Again" at the bottom of the page to scan more text and repeat steps 1-5</li>        
    </ol>
    <hr>
    <h5 style="font-family: 'Archivo Black', sans-serif;">WHEN DONE</h5>
    <ol>
      <li>Export the results of your scans by clicking on the "Export Analysis Results" dropdown and clicking on one of the following options:
        <ul>
          <li><strong>Export Overall Results:</strong> exports a CSV file that contains the total counts of words/phrases found for each frame</li>
          <li><strong>Export Results Per Article:</strong> exports a CSV file that contains the counts of words/phrases found for each frame <strong>within each text</strong> that was scanned </li>
          <li><strong>Export Both:</strong> exports both files described above </li>
        </ul>
      </li>
      <li>If you want to easily reproduce your frames or your scans, click on the "Export Items Analyzed" dropdown and click on one of the following options:
        <ul>
          <li><strong>Export Text Content:</strong> exports CSV file that has the titles and complete texts of each scan</li>
          <li><strong>Export Frames:</strong> exports JSON file with the names, words, descriptions, and colors for each frame you created </li>
          <li><strong>Export Both:</strong> exports both files described above </li>
        </ul>
    </ol>
  </div>
</div>
