<div class="accordion mb-4" id="accordionPanelsStayOpenExample">
    <div class="accordion-item border border-0 how-to-use-add" > <!--style="background-color: #F4F3F3;"-->
      <h2 class="accordion-header mb-2">
        <button id="how-to-use-add-btn" class="accordion-button rounded-5 shadow-sm border border-1 border-secondary text-dark fs-5 fw-semibold" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          How To Use
        </button>
      </h2>
      <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show ">
        <div id="how-to-use-add-body" class="accordion-body rounded-5 shadow-sm border border-1 border-secondary text-dark ">
            <h5>To Make New Frames</h5>
            <ol class="mb-4">
                <li><span class="fw-semibold">Enter</span>  your frames' <span class="fw-semibold"><a href="/what-is-a-frame" class="link">(What is a frame?)</a></span> info in the fields below</li>
                <li><span class="fw-semibold">Click “add frame”</span> when finished</li>
                <li>Make any necessary <span class="fw-semibold">edits or deletions</span> by clicking the corresponding buttons on each frame</li>
                <li>When your frames are finalized, <span class="fw-semibold">scroll</span> to the end of the page and <span class="fw-semibold">click</span> "Start Scanning"</li>
            </ol>
            <hr>
            <h5>To Reload Frames</h5>
            <ol>
              <li><span class="fw-semibold">Copy and paste</span>  the contents of the JSON file you previously exported from this website</li>
            </ol>
        </div>
      </div>
    </div>
</div>