<form class="mb-3" id="inputForm">
    <div class="mb-3">
        <label class="form-label text-dark-emphasis" for="inputTitle" style="font-weight: 600">Title (optional) </label>
        <input class="form-control shadow-sm border border-1" id="inputTitle" type="text" spellcheck="true" placeholder="Enter text's title here" name="inputTitle">
    </div>
    <div >
        <label class="form-label text-dark-emphasis" for="inputText" style="font-weight: 600">Text</label>
        <textarea class="form-control shadow-sm border border-1" id="inputText" spellcheck="true" style="height: 350px; background-color: #F4F3F3;" placeholder="Enter text here" name="inputText" required></textarea>  <!-- background-color: #F4F3F3; -->
        <div class="invalid-feedback">
            Please enter some text
        </div>
    </div>
    <p>&nbsp;</p>
    <!-- <p><input id="scanArticle" class="btn btn-success btn-large mx-auto" type="button" value="Scan Article" /></p> -->
    <div class="d-grid gap-2 col-2 mx-auto">
        <button class="btn btn-success rounded-5 shadow-sm border border-1 border-black text-black" type="button" id="scanArticleBtn" style="background-color: #AC73FC; border-radius: 30px;font-family: 'Archivo Black', sans-serif;"><strong style="font-weight: 500;">SCAN</strong></button>  
    </div>
    <br />
</form>