<form class="mb-3" id="inputForm">
    <div class="mb-3">
        <input class="form-control shadow-sm border border-1" id="inputTitle" type="text" spellcheck="true" placeholder="Enter text's title here (optional)" name="inputTitle">
    </div>
    <div >
        <textarea class="form-control shadow-sm border border-1" id="inputText" spellcheck="true" placeholder="Enter text here" name="inputText" required></textarea>  <!-- background-color: #F4F3F3; -->
        <div class="invalid-feedback">
            Please enter some text
        </div>
    </div>
    <p>&nbsp;</p>
    <!-- <p><input id="scanArticle" class="btn btn-success btn-large mx-auto" type="button" value="Scan Article" /></p> -->
    <div class="d-grid gap-2 col-2 mx-auto">
        <button class="btn rounded-pill text-dark border-secondary fw-semibold" type="button" id="scanArticleBtn">scan</button>  
    </div>
    <br />
</form>