<%- layout('/layouts/boilerplate') %>
<h1 class="text-center mb-5">Check Yourself</h1>
<!-- <hr>
<hr class="mb-5"> -->
<div class="row">
    <!-- <div class="col-6 col-lg-3">
        <h5>Lorem Ipsum</h5>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi unde doloribus nulla molestiae accusamus aliquid et ipsum neque, blanditiis consequatur saepe eius aperiam temporibus animi officiis quas aut natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, debitis, voluptatem quos cum perferendis sed deleniti assumenda nulla iste fugiat nam voluptas iusto. Corrupti, minima! Doloribus ex corporis atque sint.</p>
    </div> -->
    <div class="col-6 col-lg-4 offset-lg-1">
        <img src="https://images.pexels.com/photos/3866816/pexels-photo-3866816.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="newspaper stack" class="rounded img-fluid border border-3 border-dark-subtle" >   <!--style="max-width: 40%;"-->    
    </div>
    <!-- <div class="col-6 col-lg-3 offset-lg-1">
        <h5>Lorem Ipsum</h5>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt modi unde doloribus nulla molestiae accusamus aliquid et ipsum neque, blanditiis consequatur saepe eius aperiam temporibus animi officiis quas aut natus. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, debitis, voluptatem quos cum perferendis sed deleniti assumenda nulla iste fugiat nam voluptas iusto. Corrupti, minima! Doloribus ex corporis atque sint.</p>
    </div> -->
    
</div>
<div class="text-center">
    <a class="btn rounded-pill border shadow-sm mt-5 border border-1 border-secondary-subtle" href="/frames" role="button" style="background-color: #d5d7bc;padding: 9px 24px"><strong style="font-weight: 500;">Start Finding Frames!</strong></a>
</div>
