<%- layout('/layouts/boilerplate') %>
<style>
    .home-pg {
        font-family: 'Archivo Black', sans-serif;
    }
</style>
<div class="row home-pg">
    <h1 style="background-color: #F4FFDA;">WHEN IT COMES TO WRITING,</h1>
    <h1 style="background-color: #F4FFDA;">LET US HELP YOU</h1>
    <h1 style="color: #D1FA74;">CHECK YOURSELF</h1>
    <h1 style="color: #F4FFDA;">OR <strong style="color:#D1FA74">CHECK</strong> OTHER'S WRITING</h1>
    <h1 style="color: #F4FFDA;">FOR <strong style="color:#D1FA74">YOURSELF</strong></h1>
</div>

<div class="text-center">
    <a class="btn rounded-pill border shadow-sm mt-5 border border-1 border-light" href="/frames" role="button" style="background-color: #EAFFBA;padding: 9px 24px;font-family: 'Archivo Black', sans-serif;">START NOW</a>
</div>
<div class="text-center">
    <a class="btn rounded-pill border shadow-sm mt-5 border border-1 border-light" href="/what-is" role="button" style="background-color: #EAFFBA;padding: 9px 24px;font-family: 'Archivo Black', sans-serif;">LEARN MORE</a>
</div>
