<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Yourself</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0 upper-logo">CHECK YOURSELF</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active text-light" aria-current="page" href="/frames">CHECK YOURSELF</a>
                    <a class="nav-link dropdown-toggle link text-light fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ABOUT
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item link text-light fs-3" href="/what-is">WHAT'S CHECK YOURSELF?</a></li>
                        <li><a class="dropdown-item link text-light fs-3" href="/what-is-a-frame">WHAT'S A FRAME</a></li>
                        <li><a class="dropdown-item link text-light fs-3" href="/who-is-behind">WHO'S BEHIND CHECK YOURSELF?</a></li> 
                    </ul>
                    <a class="nav-link dropdown-toggle link text-light fs-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        OUR OTHER TOOLS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item link text-light fs-3" href="/astrsc">ASTRSC</a></li>
                    </ul>
                    <a class="nav-link link text-light fs-3" href="/contact-us">CONTACT US</a>     
                    <!-- <a class="nav-link active" aria-current="page" href="#">Home</a> -->
                    <!-- <a class="nav-link" href="/campgrounds">Campgrounds</a> -->
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1 class="light-yellow-header" >WHEN IT COMES TO WRITING,</h1>
            <lottie-player src=“https://lottie.host/4e9bb43e-7870-460d-9a75-36ca02951dbb/Z8Uu0sEz9Q.json” background=“#FFFFFF” speed=“1” style=“width:300px; height: 300px” loop controls autoplay direction=“1” mode=“normal”></lottie-player>
            <h1 class="light-yellow-header">LET US HELP YOU</h1>
            <h1 class="dark-yellow-header"><a id="check-urself-1" href="/frames">CHECK YOURSELF</a></h1>
            <h1 class="light-yellow-header">OR <span class="dark-yellow-header">CHECK</span> OTHER'S WRITING</h1>
            <h1 class="light-yellow-header">FOR <span class="dark-yellow-header">YOURSELF</span></h1>
            <!-- <div >
                <a class="btn rounded-pill shadow-sm mt-5" href="/frames" role="button" style="background-color: #EAFFBA;padding: 9px 24px;">Start</a>
            </div>
            <div >
                <a class="btn rounded-pill shadow-sm mt-5" href="/what-is" role="button" style="background-color: #EAFFBA;padding: 9px 24px;">Learn More</a>
            </div> -->
        </main>

        <footer class="mt-auto text-white-50">
            <p>Copyright &copy; 2023 CHECK YOURSELF. All rights reserved.</p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src=“https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js”></script>
    <script src="/scripts/deleteDbs.js"></script>
</body>

</html>



