mark:hover {
    cursor: pointer;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
}

.astrsc-btn {
    background-color: #ffd689;
}

.nav-link.active {
    color: black;
    border-bottom-color: black;
}

.link {
    color: #9950FF;
}

.link:hover {
    cursor: pointer;
    font-style: italic;
    /* background-color: #D1FA74; */
    
}

.dark-yellow-btn {
    background-color: #DEFF92;
}

.index-light-yellow-elms {
    background-color: #EAFFBA;
}

nav {
    font-family: 'Archivo Black', sans-serif;
}

body, nav, footer, .how-to-use-add {
    background-image: url('https://global-uploads.webflow.com/5f04dd60cf344a1e1952a8e5/6373345a18c74273453603a7_Sand-Texture.webp');
}

.dark-purple-text {
    color: #AC73FC;
}

.btn.rounded-pill.text-dark.border-secondary.fw-semibold {
    background-color: #DEFF92;
    padding: 9px 24px;  
}





