#edit-btn {
    background-color: rgba(255, 255, 255, 0.722);
    padding: 9px 24px;
}

#delete-btn {
    background-color: #e77c6c;
    padding: 9px 24px;
}

.card.card-body.mb-3.rounded-4.rounded.border-secondary {
 background-color: #EAFFBA;
}

#how-to-use-add-btn, #how-to-use-add-body {
    background-color: #EAFFBA;
} 


.modal-header {
    background-color: #D1FA74;
}

.modal-body, .modal-footer.border-top-0 {
    background-color: #F4FFDA;
}

#modal-cancel-btn, #modal-delete-btn {
    padding: 9px 24px;
}

#modal-delete-btn {
    background-color: #e77c6c;
}

.required.mb-1, .star {
    color: rgb(241, 66, 66);
}
