mark:hover {
    cursor: pointer;
}

#outputText {
    /* background-color: red; */
}

.link:hover {
    /* background-color: #D1FA74; */
    font-style: italic;
    cursor: pointer;
}

/* .light-yellow-header {
    color: #F4FFDA;
} */
.dark-yellow-btn {
    background-color: #DEFF92;
}
