.modal-header.border-bottom-0 {
    background-color: #DEFF92;
}

.btn.rounded-pill.shadow-sm {
    background-color: #e77c6c;
}

.btn.rounded-pill.shadow-sm:hover {
    font-style: normal;
}

#scanArticleBtn, .dropdown-menu.rounded-4.shadow-lg, #export-results-btn, #export-content-btn, .btn.rounded-pill.shadow-sm.mb-2.border-secondary {
    background-color: #DEFF92;
}

.dropdown-item:hover {
    background-color: #DEFF92;
}

#how-to-use-scan {
    background-color: #DEFF92;
}

#inputText {
    height: 350px;
}

#newScanBtn {
    display: none; 
    background-color: #DEFF92; 
    padding: 9px 24px;
}

#chartPar0 {
    width: 650px; 
}

#outputText0 {
    width: 50%;
    min-width: 400px;
    height: auto;
    padding: 3%;
    border-radius: 10px;
    margin-left: 5%;
    background-color: #ffffff;
    margin-bottom: 200px;
}

#results0 {
    display: none;
}

#accordion {
    display: none;
}

#frameMessage {
    position: absolute;
    top: 0;
    left: 60%;
    display: none;
}