<%- layout('layouts/boilerplate') %>
<h2> ASTRSC </h2>
<p>What is ASTRSC?
    The Africa Stereotype Scanner (ASTRSC) is a tool that scans text for linguistic elements that often contribute to stereotypes about Africa.</p>
    
<p>ASTRSC does not clearly tell you what to do. It certainly does not guarantee that your article is stereotype-free. If the story you have to write is about conflict or famine, ASTRSC will not change this overall framing. Still, it may help you make this story more considerate of the humanity of the people you are writing about. Stereotypes add insult to injury. Plus, they are not creative. ASTRSC allows you to pick up on some of these before publishing!</p> 
    
<p>So go ahead, try it, see your writing through a new lens, and learn more about the history of stereotypes and media coverage of Africa.</p> 
    
    
<p><a href="https://astrsc.com/" target=”_blank”>Try ASTRSC now.</a></p>