<%- layout('layouts/boilerplate') %>
<h1 class="mb-3 text-dark"> ASTRSC </h1>
<p class="mb-3 text-dark">The Africa Stereotype Scanner (ASTRSC) was started in the summer of 2017 at Stanford University's Center for African Studies by Toussaint Nothias and Zineb Oulmakki. The project, now hosted and developed in the Digital Civil Society Lab at Stanford University, is supported by an advisory board of writers, scholars, activists, and journalists tired of seeing the same old, dehumanizing stereotypes about Africa reproduced time and time again!</p>

<p class="mb-3 text-dark">ASTRSC is a tool that scans text for linguistic elements that often contribute to stereotypes about Africa.</p>
    
<p class="mb-3 text-dark">ASTRSC does not clearly tell you what to do. It certainly does not guarantee that your article is stereotype-free. If the story you have to write is about conflict or famine, ASTRSC will not change this overall framing. Still, it may help you make this story more considerate of the humanity of the people you are writing about. Stereotypes add insult to injury. Plus, they are not creative. ASTRSC allows you to pick up on some of these before publishing!</p> 
    
<p class="mb-3 text-dark">So go ahead, try it, see your writing through a new lens, and learn more about the history of stereotypes and media coverage of Africa.</p> 
    
    
<p class="mb-5"><a href="https://astrsc.com/" target=”_blank” class="astrsc-btn btn rounded-pill shadow-sm mt-5 border-secondary-subtle" role="button">Try ASTRSC <i class="bi bi-box-arrow-up-right ms-2"></i></a></p>