<%- layout('layouts/boilerplate') %>
<h2 class="mb-3">CONTACT US</h2>
    <p>
        CHECK YOURSELF is in development. Tell us if CHECK YOURSELF helped you, and what you wish it was able to do. Send us your comments, criticisms and suggestions for new categories! Do you want to partner with us? Are you interested in funding the development of the tool? Do you have coding skills and want to help? Get in touch with here.
    </p>
   