<%- layout('layouts/boilerplate') %>
<h2 style="font-family: 'Archivo Black', sans-serif;">CONTACT US</h2>
<form action="">
    <p>
        CHECK YOURSELF is in development. Tell us if CHECK YOURSELF helped you, and what you wish it was able to do. Send us your comments, criticisms and suggestions for new categories! Do you want to partner with us? Are you interested in funding the development of the tool? Do you have coding skills and want to help? Get in touch with here.
    </p>
    <div class="mb-3">
        <label for="name" class="form-label">Name *</label>
        <input type="text" class="form-control" name="name" id="name">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email *</label>
        <input type="email" class="form-control" name="email" id="email">
    </div>
    <div class="mb-3">
        <label for="comment" class="form-label">Comment or Message *</label>
        <textarea name="comment" class="form-control" id="comment" cols="30" rows="10"></textarea>
    </div>
    <div class="mb-3">
        <button class="btn btn-outline-success">Submit</button>
    </div>
</form>