<%- layout('layouts/boilerplate') %>
<h1 class="mb-3">Frames</h1>

<h3>What is a frame?</h3>
<p class="mb-3">
    When using CheckYourself.Media, you will craft "frames" to analyze texts. A frame is a pre-selected set of words that our tool checks for in an article.
</p>

<h3>Why use the term “frames”?</h3>
<p class="mb-3">
    We are building on decades of work done by communications scholars. In broad terms, a media frame is a particular way to present a news event. A frame shapes public understanding of an event or issue. This is inherent to news production, as certain issues, people, and interpretations consistently take precedence over others. Research has shown that the power of frames lies less in telling people exactly what to think. Rather, frames are particularly effective at telling people what to think about and the range of possible ways to make sense of an issue. Take the example of immigration reporting. News stories about immigration can emphasize unfair global inequalities, personal circumstances and resilience, environmental crisis, political instability, and/or xenophobic narratives and rhetoric – to name only a few possibilities. Each frames create structural opposition and assign blame and responsibilities. In that sense, frames delineate the field of meaning around an issue.
</p>

<h3>How to identify frames in media text?</h3>
<p class="mb-3">
    Scholars usually look for linguistic patterns and word choices. For instance, to find an environmental crisis frame in immigration news, you would locate ecology-related terms such as “climate change” and “climate crisis”. This is what linguists call a lexical field i.e. a set of words related in meaning.
</p>
<p class="mb-3">With CheckYourself.Media, creating a "frame" means crafting a personalized lexical field. Unlike other tools that look for standardized general features like word frequency and combination or words, CheckYourself.Media lets you define what words the tool should seek.</p>





 