<% layout('layouts/boilerplate') %>
<h1>What is Scanner Maker?</h1>

<p>
    Scanner Maker is a tool that scans for linguistic elements in text (usually articles) for the purpose of ... <strong>NEED TO ADD MORE</strong> 
</p>

<p>
    <a href="/frames"><strong>Try Scanner Maker now</strong></a>
</p>