<%- layout('layouts/boilerplate') %>
<h1 class="mb-3">What is Check Yourself?</h1>

<h5 class="text-dark"><span class="fw-semibold">Check Yourself</span> is a tool designed to help you analyze written text.</h5>
<p class="mb-3 text-dark">
    It was created as a spin-off of the Africa Stereotype Scanner (ASTRSC). ASTRSC, developed in collaboration with journalists, scholars, and activists, scans written text for linguistic elements that contribute to stereotypes about Africa. During a community feedback session in February 2023, participants including Suzanne Temwa Gondwe Harris and Nanjala Nyabola raised important questions: Who decides which stereotypes the tool should scan? And who selects the words that contribute to specific stereotypes? Mel Bunce then suggested a tool that allows users to choose the words and frames for scanning, leading to the creation of <span class="fw-semibold">Check Yourself</span>.
 
</p>

<h5 class="text-dark">So, what is <span class="fw-bold">Check Yourself</span>?</h5>
<p class="mb-3 text-dark">
    Imagine you want to analyze news articles and track the frequency of certain words. With <span class="fw-semibold">Check Yourself</span>, simply create a list of words as a "<a href="/what-is-a-frame" class="link fw-semibold">frame</a>." Input the article you want to analyze, click scan, and the tool will highdark instances of those words in the text. If you need to scan for multiple sets of words, create different frames. You can download the results and frames for future use. 
</p>

<!--For guidance on using “CHECK YOURSELF”, watch our video tutorial.-->

<h5 class="text-dark">Designed for those who want to conduct content audits and analyses.</h5>
<p class="mb-3 text-dark">
    <span class="fw-semibold">Check Yourself</span> is designed for researchers, students, activists, journalists, and anyone else who want to conduct content audits and analyses. Since it originated from a project that aimed to challenge harmful stereotypes, it can also be helpful for writers who want to proactively check their writing for biases or, in other words, "check themselves." If you believe the tool could benefit your research or media accountability project, please reach out. We are enthusiastic about supporting spin-off and integration efforts, especially for community-led projects that address the role of journalism in perpetuating harmful biases and representation.
</p>

<h5 class="text-dark">We &#10084; Open Source</h5>
<p class="mb-3 text-dark">
The code for <span class="fw-semibold">Check Yourself</span> is open source and available on Github at [link].
</p>

<p>
    <a class="btn rounded-pill border shadow-sm mt-3 border border-1 border-secondary mb-3 text-black" href="/frames" role="button" style="background-color: #AC73FC;padding: 9px 24px;font-family: 'Archivo Black', sans-serif;"><strong style="font-weight: 500;">TRY CHECK YOURSELF NOW</strong></a>
</p>