<%- layout('layouts/boilerplate') %>
<h1 class="mb-5">What do we mean when we say "frame"?</h1>

<h5>What we mean is...</h5>
<p class="mb-5">
    ...
</p>

<h5>Some more info</h5>
<p class="mb-5">
    ...
</p>

<h5>Importance of noticing/detecting frames</h5>
<p class="mb-5">
    Might be useful to talk about this bc i can def see professors/teachers using this tool to let students explore the importance and ubiquity of frames in media/other text
</p>

