<%- layout('layouts/boilerplate') %>
<h1>What is Frame Finder?</h1>

<p>
    Frame Finder is a tool that scans for linguistic elements in text (usually articles) for the purpose of ... <strong>NEED TO ADD MORE</strong> 
</p>

<p>
    <a href="/frames"><strong>Try Frame Finder now</strong></a>
</p>