<%- layout('layouts/boilerplate') %>
<h1>Who is behind Check Yourself? </h1>
<p>Check Yourself was started in the Spring of 2023 at Stanford's Digital Society Lab</p>

<h4><strong>Team</strong></h4>

<p>
    <a href="http://toussaintnothias.com/"><strong>Toussaint Nothias</strong></a> (Co-founder and project lead)
</p>

<p>Toussaint Nothias is Associate Director of Research at the Digital Civil Society Lab at Stanford University. His research explores journalism, digital media and civil society across various African contexts. He holds a PhD in Media and Communication from the University of Leeds. He has conducted more than 70 in-depth interviews with foreign and local journalists in Africa, and has published widely in leading communication journals including <em>The Journal of Communication</em>; <em>Media, Culture, and Society; Journalism Studies; the International Journal of Communication; Communication, Culture, Critique; Visual Communication; </em>and <em>African Journalism Studies.</em></p>

<p>
    <strong><a href="https://www.linkedin.com/in/anabelle-colmenares">Anabelle Colmenares</a></strong> (Co-founder and research assistant)
</p>

<p>
    Anabelle is a rising senior in Computer Science at Stanford University. During the summer of 2022, she worked as a tech intern at Algorithm Watch in Berlin, Germany. During this internship, she worked on AW's new iteration of their <a href="https://algorithmwatch.org/en/dataskop/">DataSkop</a> project (focusing on TikTok) and on other small projects. Specifically, she collaborated with designing and refining the data visualizations for DataSkop, and she implemented some of the visualizations. She is particularly interested in any work centered around queerness, race/ethnicity, gender, the environment, climate change, animal welfare, and any work that intersects those categories. Currently, she is working on refining the functionality of the ASTRSC tool. This primarily involves optimizing the code so it can effectively detect the most amount of relevant words and ignore the most amount of irrelevant words, testing the tool, and adding new features to the ASTRSC website.
</p>


