<%- layout('layouts/boilerplate') %>
<h1>Who is Frame Finder for?</h1>

<p>
    Stereotypes often creep in because of ignorance and unconscious biases. We primarily designed Frame Finder for journalists and scholars... <strong>NEED TO ADD MORE</strong> 
</p>