<% layout('layouts/boilerplate') %>
<h1>Who is Scanner Maker for?</h1>

<p>
    Stereotypes often creep in because of ignorance and unconscious biases. We primarily designed Scanner Maker for journalists and scholars... <strong>NEED TO ADD MORE</strong> 
</p>